* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.color {
    color: rgb(0,66,139);
}

.button {
    background-color: rgb(0,66,139);
}


.hero-backg {
    background-image: url(../media/dent\ hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    /* filter: blur(7px); */
    opacity: 0,6;
}


.hero-backg {
    padding: 110px 0 0 0px;
}

.feat-img {
    border-radius: 100%;
}

.cdn {
    border-radius: 100%;
}

.emer {
    border-radius: 0 0 40% 40%;
}

.abt {
    background-image: url(../media/Dr\ about.jpg);
    background-size: cover;
    background-position: 40% 53%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    opacity: 0.74;
    background-color: var(--global-palette7, #EDF2F7);
}

.con {
    background-image: url(../media/contact\ scan.jpg);
    background-size: cover;
    background-position: 40% 53%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    opacity: 0.74;
    background-color: var(--global-palette7, #EDF2F7);
}

.con-n {
   border-radius: 20px 20px 20px 20px;
    object-fit: cover;
    /* position: absolute; */
    position: 40% 53%;   

}

